* {
    box-sizing: border-box;
}

.button {
    padding: 15px 20px;
    font-family: Georgia, serif;
    font-size: 17px;
    letter-spacing: 0.06em;
    border-radius: 100px;
    background-color: #F1CDB3;
    text-decoration: none;
    color: #292929;
    cursor: pointer;
    border: 2px solid #F1CDB3;
}

.button:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header--main {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.header__container {
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.logo {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header--main .logo__title {
    color: #F1CDB3;
}

.header--main .logo__subtitle {
    color: #FFFFFF;
}

.logo__title {
    font-family: Georgia, serif;
    font-size: 32px;
    color: #545454;
    letter-spacing: 0.06em;
}

.logo__subtitle {
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin-top: 10px;
    color: #292929;
    letter-spacing: 0.1em;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header--main .nav__link {
    color: #CDCDCD;
}

.nav__link {
    text-decoration: none;
    padding: 10px 17.5px;
    position: relative;
}

.header--main .nav__link--active {
    color: #FAFAFA;
}

.nav__link--active::before {
    position: absolute;
    display: block;
    content: '';
    width: calc(100% - 35px);
    height: 3px;
    left: 17.5px;
    bottom: 6px;
    background-color: #F1CDB3;
}

.not-only {
    min-height: 908px;
    background-image: url("assets/not-only/start-screen-gradient-background.png");
    background-size: cover;
    padding-top: 180px;
    background-color: black;
    color: #FFFFFF;
}

.not-only__container {
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.not-only__content {
    margin-right: 42px;
}

.not-only__title {
    font-family: Georgia, serif;
    font-size: 44px;
    line-height: 130%;
    font-weight: 400;
}

.not-only__text {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 160%;
    margin-top: 42px;
    margin-bottom: 42px;
    font-weight: 400;
}

.about__container {
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
