* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 160%;
}

.button {
    padding: 15px;
    font-family: Georgia, serif;
    font-size: 17px;
    letter-spacing: 0.06em;
    border-radius: 100px;
    background-color: #F1CDB3;
    text-decoration: none;
    color: #292929;
    cursor: pointer;
    border: 2px solid #F1CDB3;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 52px;
    min-width: 52px;
    width: auto;
}

.button--outline {
    background-color: transparent;

}

.button:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

.button:disabled {
    border-color: #CDCDCD;
    background-color: #CDCDCD;
}

.button--outline:disabled {
    background-color: transparent;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header--main {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.header__container {
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.logo {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header--main .logo__title {
    color: #F1CDB3;
}

.header--main .logo__subtitle {
    color: #FFFFFF;
}

.logo__title {
    font-family: Georgia, serif;
    font-size: 32px;
    color: #545454;
    letter-spacing: 0.06em;
}

.logo__subtitle {
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin-top: 10px;
    color: #292929;
    letter-spacing: 0.1em;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header--main .nav__link {
    color: #CDCDCD;
}

.nav__link {
    text-decoration: none;
    padding: 10px 17.5px;
    position: relative;
}

.header--main .nav__link--active {
    color: #FAFAFA;
}

.nav__link--active::before {
    position: absolute;
    display: block;
    content: '';
    width: calc(100% - 35px);
    height: 3px;
    left: 17.5px;
    bottom: 6px;
    background-color: #F1CDB3;
}

.not-only {
    min-height: 908px;
    background-image: url("assets/not-only/start-screen-gradient-background.png");
    background-size: cover;
    padding-top: 180px;
    background-color: black;
    color: #FFFFFF;
}

.not-only__container {
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.not-only__content {
    margin-right: 42px;
}

.not-only__title {
    font-family: Georgia, serif;
    font-size: 44px;
    line-height: 130%;
    font-weight: 400;
}

.not-only__text {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 160%;
    margin-top: 42px;
    margin-bottom: 42px;
    font-weight: 400;
}

.not-only__button {
    min-width: 207px;
}

.about__container {
    width: 100%;
    padding: 0 215px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.about__content {
    padding-top: 80px;
    padding-bottom: 100px;
}

.about__img {
    margin-right: 120px;
}

.about__title {
    font-family: Georgia, serif;
    line-height: 130%;
    font-size: 35px;
    letter-spacing: 0.06em;
    font-weight: 400;
    margin-top: 0;
}

.about__text {
    margin-top: 25px;
}

.our-friends__container {
    width: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.our-friends {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #F6F6F6;
}

.our-friends__title {
    font-family: Georgia, serif;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    font-weight: 400;
    margin: 0;

}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
    width: 100%;

}

.slider__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.slider__item {
    margin: 0 10px;
}

.pet-card {
    background-color: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    text-decoration: none;
    color: #545454;
}

.pet-card:hover {
    background-color: #FFFFFF;
}

.pet-card:hover .pet-card__button {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
    cursor: pointer;
}

.pet-card__img {
    height: 270px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 30px;
}

.pet-card__content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pet-card__title {
    font-family: Georgia, serif;
    font-size: 20px;
    letter-spacing: 0.06em;
    margin: 0;
    font-weight: 400;

}

.pet-card__button {
    min-width: 187px;
    margin-top: 30px;

}
.our-friends__button {
    min-width: 261px;
}
